/problema1/Trabajoengrupo/nbproject/private/
/problema1/taller4/build/
/problema1/taller4/nbproject/private/
/problema2/Problema2/nbproject/private/
/problema2/Problema2/build/
/problema4/Problema4/nbproject/private/
/problema4/Problema4/build/
/problema3/Problema3/nbproject/private/
/problema3/Problema3/build/
